.footContainer {
  height: 120px;
  width: 100%;
  background-color: #DDDDDD;
}

.linksList {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

.link {
  align-self: center;
  margin-right: 4%;
}

.link > a {
  text-decoration: underline;
  color: #2B3240;
}

.link > a:hover {
  color: #098AF2;
}

@media (max-width: 740px) {
  .link > a {
    font-size: 15px;
  }
}