.footContainer {
  height: 120px;
  width: 100%;
  background-color: #424242;
}

.linksList {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.link {
  align-self: center;

  margin-right: 4%;
}

.link > a {
  color: #F0F7F7;
  text-decoration: underline;
}

.link > a:hover {
  color: #098AF2;
}