.footContainer {
  height: 120px;
  width: 100%;
  background-color: #F3F3F3;
}

.linksList {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.link {
  align-self: center;
  margin-right: 4%;
}

.link > a {
  text-decoration: underline;
}

.link > a:hover {
  color: #098AF2;
}