.content {
  width: 100%;
  background-color: white;
}

.workList {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.slideContainer {
}

.item {
}

.item > img {
  min-width: 100%;
  height: 100%;
}