.content {
  width: 100%;
  padding-top: 8%;
  background-color: white;
}

.workList {
  margin: auto;
  max-width: 830px;
  padding: 20px;
}
.slick-arrow {
  height: 45px;
  width: 45px;
  background-color: grey;
  z-index: 1;
  border-radius: 2px;
}

.slick-prev:before {
  content: url('./../assets/icons/back.svg');
}

.slick-next:before {
  content: url('./../assets/icons/next.svg');;
}

.slick-arrow:hover {
  background-color: lightgrey;
}

.item {
}

.item > img {
  min-width: 100%;
  height: 100%;
}