.container {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  color: #8dc6c1;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  line-height: 1.5;
  font-size: 3.75em;
}

.role {
  color: #808099;
  letter-spacing: 0.03em;
  font-size: 1.1em;
  font-style: italic;
}
