.container {
  max-width: 100%;
  height: 100%;
  padding: 5% 0;
  color: #808099;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.name {
  line-height: 1.5;
  font-size: 3.75em;
  color: #8dc6c1;
}

.role {
  color: #808099;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  font-size: 1em;
  font-style: italic;
  opacity: .7;
}

.heading > hr {
  border-top: 1px solid #E0E0E0;
  border-bottom: 0;
  width: 270px;
  margin-bottom: 15px;
}

.title {
  letter-spacing: 1px;
  font-size: 1.05em;
}
