@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FDFDFD;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}